<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wht.dao.PostMapper">
    <resultMap id="BaseResultMap" type="com.wht.entity.Post">
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="poster" property="poster" jdbcType="INTEGER"/>
        <result column="deliver" property="deliver" jdbcType="INTEGER"/>
        <result column="topic" property="topic" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="INTEGER"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="duetime" property="dueTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
    </resultMap>


    <update id="insertPost" parameterType="com.wht.entity.Post">
        INSERT INTO post
        VALUES (#{pid}, #{poster}, #{deliver},#{topic}, #{description}, #{location},#{price},#{createTime},#{dueTime},#{status},#{comment})
    </update>

    <select id="selectPostByUid" parameterType="java.lang.Integer"
            resultType="com.wht.entity.Post">
        SELECT * FROM post where poster = #{uid}
    </select>

    <select id="selectDonePostByUid" parameterType="java.lang.Integer"
            resultType="com.wht.entity.Post">
        SELECT * FROM post where poster = #{uid} and status= 3
    </select>

    <select id="selectPostByPid" parameterType="java.lang.Integer"
            resultType="com.wht.entity.Post">
        SELECT * FROM post where pid = #{pid}
    </select>

    <update id="updatePost" parameterType="com.wht.entity.Post">
        UPDATE post
        set status=#{status}, comment=#{comment}
        WHERE pid = #{pid}
    </update>

    <select id="selectDoingByUid" parameterType="java.lang.Integer"
            resultType="com.wht.entity.Post">
        SELECT * FROM post where poster = #{uid} and (status= 0 or status=1 or status =2)
    </select>
</mapper>